In [1]:
import ast
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
import tensorflow as tf
import tensorflow.keras.backend as K
import warnings
warnings.filterwarnings('ignore')

from collections import Counter
from random import randint, random
from scipy.sparse import coo_matrix, hstack
from sklearn.metrics.pairwise import euclidean_distances, cosine_distances, cosine_similarity
from tensorflow import keras
from tqdm import tqdm

2023-12-13 21:51:08.433999: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-12-13 21:51:08.453534: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-13 21:51:08.453555: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-13 21:51:08.454067: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-13 21:51:08.457378: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-13 21:51:08.818032: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
interactions_df = pd.read_csv('data_original/interactions_processed_kion.csv')
users_df = pd.read_csv('data_original/users_processed_kion.csv')
items_df = pd.read_csv('data_original/items_processed_kion.csv')

In [3]:
users_df.head()

   user_id        age        income sex  kids_flg
0   973171  age_25_34  income_60_90   M      True
1   962099  age_18_24  income_20_40   M     False
2  1047345  age_45_54  income_40_60   F     False
3   721985  age_45_54  income_20_40   F     False
4   704055  age_35_44  income_60_90   F     False

In [4]:
items_df = items_df.rename(columns = {'id' : 'item_id'})

In [5]:
items_df.head()

,item_id,content_type,title,title_orig,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords,release_year_cat
0,10711,film,поговори с ней,Hable con ella,"драмы, зарубежные, детективы, мелодрамы",испания,False,16.0,unknown,педро альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ...",2000-2010
1,2508,film,голые перцы,Search Party,"зарубежные, приключения, комедии",сша,False,16.0,unknown,скот армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео...",2010-2020
2,10716,film,тактическая сила,Tactical Force,"криминал, зарубежные, триллеры, боевики, комедии",канада,False,16.0,unknown,адам п. калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг...",2010-2020
3,7868,film,45 лет,45 Years,"драмы, зарубежные, мелодрамы",великобритания,False,16.0,unknown,эндрю хэй,"Александра Риддлстон-Барретт, Джеральдин Джейм...","Шарлотта Рэмплинг, Том Кортни, Джеральдин Джей...","45, лет, 2015, Великобритания, брак, жизнь, лю...",2010-2020
4,16268,film,все решает мгновение,None,"драмы, спорт, советские, мелодрамы",ссср,False,12.0,ленфильм,виктор садовский,"Александр Абдулов, Александр Демьяненко, Алекс...",Расчетливая чаровница из советского кинохита «...,"Все, решает, мгновение, 1978, СССР, сильные, ж...",1970-1980

In [6]:
item_cat_feats = ['content_type', 'release_year_cat',
                  'for_kids', 'age_rating', 
                  'studios', 'countries', 'directors']

items_ohe_df = items_df.item_id

for feat in item_cat_feats:
    ohe_feat_df = pd.get_dummies(items_df[feat], prefix=feat)
    items_ohe_df = pd.concat([items_ohe_df, ohe_feat_df], axis=1) 

items_ohe_df.head()

,item_id,content_type_film,content_type_series,release_year_cat_1920-1930,release_year_cat_1930-1940,release_year_cat_1940-1950,release_year_cat_1950-1960,release_year_cat_1960-1970,release_year_cat_1970-1980,release_year_cat_1980-1990,...,directors_ярив хоровиц,directors_ярон зильберман,directors_ярополк лапшин,directors_ярослав лупий,"directors_ярроу чейни, скотт моужер",directors_ясина сезар,directors_ясуоми умэцу,"directors_ёдзи фукуяма, ацуко фукусима, николас де креси, синъитиро ватанабэ, сёдзи кавамори",directors_ёлкин туйчиев,directors_ён сан-хо
0,10711,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2508,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10716,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7868,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16268,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
interactions_df.head()

   user_id  item_id last_watch_dt  total_dur  watched_pct
0   176549     9506    2021-05-11       4250           72
1   699317     1659    2021-05-29       8317          100
2   656683     7107    2021-05-09         10            0
3   864613     7638    2021-07-05      14483          100
4   964868     9506    2021-04-30       6725          100

# Готовим фичи пользователей
Посмотрим, какие фичи в датасете фильмов являются категориальными и закодируем их с помощью one-hot encoding.

In [8]:
user_cat_feats = ["age", "income", "sex", "kids_flg"]
# из исходного датафрейма оставим только item_id - этот признак нам понадобится позже
# для того, чтобы маппить айтемы из датафрейма с фильмами с айтемами 
# из датафрейма с взаимодействиями
users_ohe_df = users_df.user_id
for feat in user_cat_feats:
    # получаем датафрейм с one-hot encoding для каждой категориальной фичи
    ohe_feat_df = pd.get_dummies(users_df[feat], prefix=feat)
    # конкатенируем ohe-hot датафрейм с датафреймом, 
    # который мы получили на предыдущем шаге
    users_ohe_df = pd.concat([users_ohe_df, ohe_feat_df], axis=1)

users_ohe_df.head()

,user_id,age_age_18_24,age_age_25_34,age_age_35_44,age_age_45_54,age_age_55_64,age_age_65_inf,age_age_unknown,income_income_0_20,income_income_150_inf,income_income_20_40,income_income_40_60,income_income_60_90,income_income_90_150,income_income_unknown,sex_F,sex_M,sex_sex_unknown,kids_flg_False,kids_flg_True
0,973171,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1
1,962099,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0
2,1047345,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
3,721985,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
4,704055,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0

# Готовим фичи айтемов
Кодируем их точно так же - one-hot'ом.

In [9]:
items_df.head()

,item_id,content_type,title,title_orig,genres,countries,for_kids,age_rating,studios,directors,actors,description,keywords,release_year_cat
0,10711,film,поговори с ней,Hable con ella,"драмы, зарубежные, детективы, мелодрамы",испания,False,16.0,unknown,педро альмодовар,"Адольфо Фернандес, Ана Фернандес, Дарио Гранди...",Мелодрама легендарного Педро Альмодовара «Пого...,"Поговори, ней, 2002, Испания, друзья, любовь, ...",2000-2010
1,2508,film,голые перцы,Search Party,"зарубежные, приключения, комедии",сша,False,16.0,unknown,скот армстронг,"Адам Палли, Брайан Хаски, Дж.Б. Смув, Джейсон ...",Уморительная современная комедия на популярную...,"Голые, перцы, 2014, США, друзья, свадьбы, прео...",2010-2020
2,10716,film,тактическая сила,Tactical Force,"криминал, зарубежные, триллеры, боевики, комедии",канада,False,16.0,unknown,адам п. калтраро,"Адриан Холмс, Даррен Шалави, Джерри Вассерман,...",Профессиональный рестлер Стив Остин («Все или ...,"Тактическая, сила, 2011, Канада, бандиты, ганг...",2010-2020
3,7868,film,45 лет,45 Years,"драмы, зарубежные, мелодрамы",великобритания,False,16.0,unknown,эндрю хэй,"Александра Риддлстон-Барретт, Джеральдин Джейм...","Шарлотта Рэмплинг, Том Кортни, Джеральдин Джей...","45, лет, 2015, Великобритания, брак, жизнь, лю...",2010-2020
4,16268,film,все решает мгновение,None,"драмы, спорт, советские, мелодрамы",ссср,False,12.0,ленфильм,виктор садовский,"Александр Абдулов, Александр Демьяненко, Алекс...",Расчетливая чаровница из советского кинохита «...,"Все, решает, мгновение, 1978, СССР, сильные, ж...",1970-1980

In [10]:
import fasttext.util
fasttext.util.download_model('en', if_exists='ignore')  # English

'cc.en.300.bin'

In [11]:
import fasttext as ft

model = ft.load_model('cc.en.300.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [12]:
len(model.get_sentence_vector(text="привет как дела?"))

300

In [13]:
item_cat_feats = ['content_type', 'release_year_cat',
                  'for_kids', 'age_rating', 
                  'studios', 'countries', 'directors']

items_ohe_df = items_df.item_id

for feat in item_cat_feats:
    ohe_feat_df = pd.get_dummies(items_df[feat], prefix=feat)
    items_ohe_df = pd.concat([items_ohe_df, ohe_feat_df], axis=1) 

items_ohe_df.head()

,item_id,content_type_film,content_type_series,release_year_cat_1920-1930,release_year_cat_1930-1940,release_year_cat_1940-1950,release_year_cat_1950-1960,release_year_cat_1960-1970,release_year_cat_1970-1980,release_year_cat_1980-1990,...,directors_ярив хоровиц,directors_ярон зильберман,directors_ярополк лапшин,directors_ярослав лупий,"directors_ярроу чейни, скотт моужер",directors_ясина сезар,directors_ясуоми умэцу,"directors_ёдзи фукуяма, ацуко фукусима, николас де креси, синъитиро ватанабэ, сёдзи кавамори",directors_ёлкин туйчиев,directors_ён сан-хо
0,10711,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2508,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10716,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,7868,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,16268,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
items_ohe_df[[f"desc_{i}" for i in range(300)]] = items_df.description.apply(lambda x: pd.Series(model.get_sentence_vector(text=x.replace('\n', ' '))))
items_ohe_df.head()

,item_id,content_type_film,content_type_series,release_year_cat_1920-1930,release_year_cat_1930-1940,release_year_cat_1940-1950,release_year_cat_1950-1960,release_year_cat_1960-1970,release_year_cat_1970-1980,release_year_cat_1980-1990,...,desc_290,desc_291,desc_292,desc_293,desc_294,desc_295,desc_296,desc_297,desc_298,desc_299
0,10711,1,0,0,0,0,0,0,0,0,...,0.009683,-0.026429,-0.015642,-0.035468,0.015259,-0.025831,0.035610,0.087270,0.020625,-0.017732
1,2508,1,0,0,0,0,0,0,0,0,...,0.017540,-0.031575,-0.016665,-0.034624,0.016507,-0.021267,0.030240,0.085455,0.017161,-0.021298
2,10716,1,0,0,0,0,0,0,0,0,...,0.018009,-0.024499,-0.011013,-0.033829,0.019938,-0.016156,0.024539,0.080980,0.016845,-0.017199
3,7868,1,0,0,0,0,0,0,0,0,...,0.010070,-0.024136,-0.016860,-0.034133,0.023774,-0.013933,0.022975,0.069697,0.014669,-0.023194
4,16268,1,0,0,0,0,0,0,1,0,...,0.010705,-0.017568,-0.014337,-0.036226,0.022397,-0.022612,0.031094,0.080498,0.019625,-0.021475

# Сделаем матрицу взаимодействий

In [15]:
interactions_df.item_id.value_counts()

10440    202457
15297    193123
9728     132865
13865    122119
4151      91167
          ...
8076          1
8954          1
15664         1
818           1
10542         1
Name: item_id, Length: 15706, dtype: int64

В датасете взаимодействий есть непопулярные фильмы и малоактивные пользователи. Кроме того, в таблице взаимодействий есть события с низким качеством взаимодействия - когда юзер начал смотреть фильм, но вскоре после начала просмотра выключил.

Отфильтруем такие события*, малоактивных юзеров и непопулярные фильмы.

Можете не фильтровать такие события, тогда у вас будет больше негативных примеров.

In [16]:
interactions_df.user_id.value_counts()

416206     1341
1010539     764
555233      685
11526       676
409259      625
           ...
45493         1
615194        1
96848         1
425823        1
697262        1
Name: user_id, Length: 962179, dtype: int64

In [17]:
print(f"N users before: {interactions_df.user_id.nunique()}")
print(f"N items before: {interactions_df.item_id.nunique()}\n")

# отфильтруем все события взаимодействий, в которых пользователь посмотрел
# фильм менее чем на 10 процентов
interactions_df = interactions_df[interactions_df.watched_pct > 10]

# соберем всех пользователей, которые посмотрели 
# больше 10 фильмов (можете выбрать другой порог)
valid_users = []

c = Counter(interactions_df.user_id)
for user_id, entries in c.most_common():
    if entries > 10:
        valid_users.append(user_id)

# и соберем все фильмы, которые посмотрели больше 10 пользователей
valid_items = []

c = Counter(interactions_df.item_id)
for item_id, entries in c.most_common():
    if entries > 10:
        valid_items.append(item_id)

# отбросим непопулярные фильмы и неактивных юзеров
interactions_df = interactions_df[interactions_df.user_id.isin(valid_users)]
interactions_df = interactions_df[interactions_df.item_id.isin(valid_items)]

print(f"N users after: {interactions_df.user_id.nunique()}")
print(f"N items after: {interactions_df.item_id.nunique()}")

N users before: 962179
N items before: 15706

N users after: 79515
N items after: 6901

После фильтрации может получиться так, что некоторые айтемы/юзеры есть в датасете взаимодействий, но при этом они отсутствуют в датасетах айтемов/юзеров или наоборот. Поэтому найдем id айтемов и id юзеров, которые есть во всех датасетах и оставим только их.

In [19]:
common_users = set(interactions_df.user_id.unique()).intersection(set(users_ohe_df.user_id.unique()))
common_items = set(interactions_df.item_id.unique()).intersection(set(items_ohe_df.item_id.unique()))

print(len(common_users))
print(len(common_items))

interactions_df = interactions_df[interactions_df.item_id.isin(common_items)]
interactions_df = interactions_df[interactions_df.user_id.isin(common_users)]

items_ohe_df = items_ohe_df[items_ohe_df.item_id.isin(common_items)]
users_ohe_df = users_ohe_df[users_ohe_df.user_id.isin(common_users)]

65974
6897

Соберем взаимодействия в матрицу user*item так, чтобы в строках этой матрицы были user_id, в столбцах - item_id, а на пересечениях строк и столбцов - единица, если пользователь взаимодействовал с айтемом и ноль, если нет.

Такую матрицу удобно собирать в numpy array, однако нужно помнить, что numpy array индексируется порядковыми индексами, а нам же удобнее использовать item_id и user_id.

Создадим некие внутренние индексы для user_id и item_id - uid и iid. Для этого просто соберем все user_id и item_id и пронумеруем их по порядку.

In [20]:
interactions_df["uid"] = interactions_df["user_id"].astype("category")
interactions_df["uid"] = interactions_df["uid"].cat.codes

interactions_df["iid"] = interactions_df["item_id"].astype("category")
interactions_df["iid"] = interactions_df["iid"].cat.codes

print(sorted(interactions_df.iid.unique())[:5])
print(sorted(interactions_df.uid.unique())[:5])
interactions_df.head()

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

    user_id  item_id last_watch_dt  total_dur  watched_pct    uid   iid
0    176549     9506    2021-05-11       4250           72  10616  3944
1    699317     1659    2021-05-29       8317          100  42131   675
6   1016458      354    2021-08-14       1672           25  61024   139
7    884009      693    2021-08-04        703           14  53150   279
14     5324     8437    2021-04-18       6598           92    310  3485

Отнормируем матрицу взаимодействий

In [21]:
interactions_vec = np.zeros((interactions_df.uid.nunique(), 
                             interactions_df.iid.nunique())) 

for user_id, item_id in zip(interactions_df.uid, interactions_df.iid):
    interactions_vec[user_id, item_id] += int(interactions_df[(interactions_df.uid == user_id) & (interactions_df.iid == item_id)]["watched_pct"])


res = interactions_vec.sum(axis=1)
for i in range(len(interactions_vec)):
    interactions_vec[i] /= res[i]

In [22]:
print(interactions_df.item_id.nunique())
print(items_ohe_df.item_id.nunique())
print(interactions_df.user_id.nunique())
print(users_ohe_df.user_id.nunique())

print(set(items_ohe_df.item_id.unique()) - set(interactions_df.item_id.unique()))

6897
6897
65974
65974
set()

Для того, чтобы можно было удобно превратить iid/uid в item_id/user_id и наоборот соберем словари

{iid: item_id}, {uid: user_id} и {item_id: iid}, {user_id: uid}.

In [23]:
iid_to_item_id = interactions_df[["iid", "item_id"]].drop_duplicates().set_index("iid").to_dict()["item_id"]
item_id_to_iid = interactions_df[["iid", "item_id"]].drop_duplicates().set_index("item_id").to_dict()["iid"]

uid_to_user_id = interactions_df[["uid", "user_id"]].drop_duplicates().set_index("uid").to_dict()["user_id"]
user_id_to_uid = interactions_df[["uid", "user_id"]].drop_duplicates().set_index("user_id").to_dict()["uid"]

И проиндексируем датасеты users_ohe_df и items_ohe_df по внутренним айди:

In [24]:
items_ohe_df["iid"] = items_ohe_df["item_id"].apply(lambda x: item_id_to_iid[x])
items_ohe_df = items_ohe_df.set_index("iid")

users_ohe_df["uid"] = users_ohe_df["user_id"].apply(lambda x: user_id_to_uid[x])
users_ohe_df = users_ohe_df.set_index("uid")

In [25]:
def triplet_loss(y_true, y_pred, n_dims=128, alpha=0.4):
    # будем ожидать, что на вход функции прилетит три сконкатенированных 
    # вектора - вектор юзера и два вектора айтема
    anchor = y_pred[:, 0:n_dims]
    positive = y_pred[:, n_dims:n_dims*2]
    negative = y_pred[:, n_dims*2:n_dims*3]

    # считаем расстояния от вектора юзера до вектора хорошего айтема
    pos_dist = K.sum(K.square(anchor - positive), axis=1)
    # и до плохого
    neg_dist = K.sum(K.square(anchor - negative), axis=1)

    # считаем лосс
    basic_loss = pos_dist - neg_dist + alpha
    loss = K.maximum(basic_loss, 0.0) # возвращаем ноль, если лосс отрицательный
 
    return loss

# Генератор и семплирование
Сделаем простой генератор. Он будет брать рандромного юзера, и два разных айтема - хороший пример и плохой:

хорошим примером будет тот айтем, который был взят из датасета взаимодействий в соответствии с распределением просмотренных айтемов для этого юзера;
а плохим айтемом будет просто любой другой случайный айтем*

In [26]:
def generator(items, users, interactions, batch_size=1024):
    while True:
        uid_meta = []
        uid_interaction = []
        pos = []
        neg = []
        for _ in range(batch_size):
            # берем рандомный uid
            uid_i = randint(0, interactions.shape[0]-1)
            # id хорошего айтема
            pos_i = np.random.choice(range(interactions.shape[1]), p=interactions[uid_i])
            # id плохого айтема
            neg_i = np.random.choice(range(interactions.shape[1]))
            # фичи юзера
            uid_meta.append(users.iloc[uid_i])
            # вектор айтемов, с которыми юзер взаимодействовал
            uid_interaction.append(interactions_vec[uid_i])
            # фичи хорошего айтема
            pos.append(items.iloc[pos_i])
            # фичи плохого айтема
            neg.append(items.iloc[neg_i])
            
        yield [np.array(uid_meta), np.array(uid_interaction), np.array(pos), np.array(neg)], [np.array(uid_meta), np.array(uid_interaction)]

In [27]:
# инициализируем генератор
gen = generator(items=items_ohe_df.drop(["item_id"], axis=1), 
                users=users_ohe_df.drop(["user_id"], axis=1), 
                interactions=interactions_vec)

ret = next(gen)


print(f"вектор фичей юзера: {ret[0][0].shape}")
print(f"вектор взаимодействий юзера с айтемами: {ret[0][1].shape}")
print(f"вектор 'хорошего' айтема: {ret[0][2].shape}")
print(f"вектор 'плохого' айтема: {ret[0][3].shape}")
print()
print(f"вектор фичей юзера: {ret[1][0].shape}")
print(f"вектор взаимодействий юзера с айтемами: {ret[1][1].shape}")

вектор фичей юзера: (1024, 19)
вектор взаимодействий юзера с айтемами: (1024, 6897)
вектор 'хорошего' айтема: (1024, 8888)
вектор 'плохого' айтема: (1024, 8888)

вектор фичей юзера: (1024, 19)
вектор взаимодействий юзера с айтемами: (1024, 6897)

In [28]:
for el in ret[1][1][100]:
    if el != 0:
        print(el)

0.0992063492063492
0.09226190476190477
0.08234126984126984
0.0873015873015873
0.0992063492063492
0.05555555555555555
0.0248015873015873
0.0992063492063492
0.0992063492063492
0.0992063492063492
0.0625
0.0992063492063492

In [49]:
N_FACTORS = 256

# в датасетах есть столбец user_id/item_id, помним, что он не является фичей для обучения!
ITEM_MODEL_SHAPE = (items_ohe_df.drop(["item_id"], axis=1).shape[1], ) 
USER_META_MODEL_SHAPE = (users_ohe_df.drop(["user_id"], axis=1).shape[1], )

USER_INTERACTION_MODEL_SHAPE = (interactions_vec.shape[1], )

print(f"N_FACTORS: {N_FACTORS}")
print(f"ITEM_MODEL_SHAPE: {ITEM_MODEL_SHAPE}")
print(f"USER_META_MODEL_SHAPE: {USER_META_MODEL_SHAPE}")
print(f"USER_INTERACTION_MODEL_SHAPE: {USER_INTERACTION_MODEL_SHAPE}")

N_FACTORS: 256
ITEM_MODEL_SHAPE: (8888,)
USER_META_MODEL_SHAPE: (19,)
USER_INTERACTION_MODEL_SHAPE: (6897,)

In [50]:
def item_model(n_factors=N_FACTORS):
    # входной слой
    inp = keras.layers.Input(shape=ITEM_MODEL_SHAPE)
    
    # полносвязный слой
    layer_1 = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                               kernel_regularizer=keras.regularizers.l2(1e-6),
                               activity_regularizer=keras.regularizers.l2(l2=1e-6))(inp)

    # делаем residual connection - складываем два слоя, 
    # чтобы градиенты не затухали во время обучения
    layer_2 = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                             kernel_regularizer=keras.regularizers.l2(1e-6),
                             activity_regularizer=keras.regularizers.l2(l2=1e-6))(layer_1)
    
    add = keras.layers.Add()([layer_1, layer_2])
    
    # выходной слой
    out = keras.layers.Dense(N_FACTORS, activation='linear', use_bias=False,
                             kernel_regularizer=keras.regularizers.l2(1e-6),
                             activity_regularizer=keras.regularizers.l2(l2=1e-6))(add)
    
    return keras.models.Model(inp, out)


def user_model(n_factors=N_FACTORS):
    # входной слой для вектора фичей юзера (из users_ohe_df)
    inp_meta = keras.layers.Input(shape=USER_META_MODEL_SHAPE)
    # входной слой для вектора просмотров (из iteractions_vec)
    inp_interaction = keras.layers.Input(shape=USER_INTERACTION_MODEL_SHAPE)

    # полносвязный слой
    layer_1_meta = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                                 kernel_regularizer=keras.regularizers.l2(1e-6),
                                 activity_regularizer=keras.regularizers.l2(l2=1e-6))(inp_meta)

    layer_1_interaction = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                                 kernel_regularizer=keras.regularizers.l2(1e-6),
                                 activity_regularizer=keras.regularizers.l2(l2=1e-6))(inp_interaction)

    # делаем residual connection - складываем два слоя,
    # чтобы градиенты не затухали во время обучения
    layer_2_meta = keras.layers.Dense(N_FACTORS, activation='elu', use_bias=False,
                                 kernel_regularizer=keras.regularizers.l2(1e-6),
                                 activity_regularizer=keras.regularizers.l2(l2=1e-6))(layer_1_meta)
    

    add = keras.layers.Add()([layer_1_meta, layer_2_meta])
    
    # конкатенируем вектор фичей с вектором просмотров
    concat_meta_interaction = keras.layers.Concatenate()([add, layer_1_interaction])
    
    # выходной слой
    out = keras.layers.Dense(N_FACTORS, activation='linear', use_bias=False,
                             kernel_regularizer=keras.regularizers.l2(1e-6),
                             activity_regularizer=keras.regularizers.l2(l2=1e-6))(concat_meta_interaction)
    
    return keras.models.Model([inp_meta, inp_interaction], out)

# инициализируем модели юзера и айтема
i2v = item_model()
u2v = user_model()

# вход для вектора фичей юзера (из users_ohe_df)
ancor_meta_in = keras.layers.Input(shape=USER_META_MODEL_SHAPE)
# вход для вектора просмотра юзера (из interactions_vec)
ancor_interaction_in = keras.layers.Input(shape=USER_INTERACTION_MODEL_SHAPE)

# вход для вектора "хорошего" айтема
pos_in = keras.layers.Input(shape=ITEM_MODEL_SHAPE)
# вход для вектора "плохого" айтема
neg_in = keras.layers.Input(shape=ITEM_MODEL_SHAPE)

# получаем вектор юзера
ancor = u2v([ancor_meta_in, ancor_interaction_in])
# получаем вектор "хорошего" айтема
pos = i2v(pos_in)
# получаем вектор "плохого" айтема
neg = i2v(neg_in)

# конкатенируем полученные векторы
res = keras.layers.Concatenate(name="concat_ancor_pos_neg")([ancor, pos, neg])

# собираем модель
model = keras.models.Model([ancor_meta_in, ancor_interaction_in, pos_in, neg_in], res)

In [51]:
model_name = 'recsys_resnet_linear'

# логируем процесс обучения в тензорборд
t_board = keras.callbacks.TensorBoard(log_dir=f'runs/{model_name}')

# уменьшаем learning_rate, если лосс долго не уменьшается (в течение двух эпох)
decay = keras.callbacks.ReduceLROnPlateau(monitor='loss', patience=2, factor=0.8, verbose=1)

# сохраняем модель после каждой эпохи, если лосс уменьшился
check = keras.callbacks.ModelCheckpoint(filepath=model_name + '/epoch{epoch}-{loss:.2f}.h5', monitor="loss")

In [52]:
# компилируем модель, используем оптимайзер Adam и triplet loss
opt = keras.optimizers.Adam(learning_rate=0.001)
model.compile(loss=triplet_loss, optimizer=opt)

In [53]:
# модель айтема
item_model().summary()

Model: "model_8"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_18 (InputLayer)       [(None, 8888)]               0         []

 dense_21 (Dense)            (None, 256)                  2275328   ['input_18[0][0]']

 dense_22 (Dense)            (None, 256)                  65536     ['dense_21[0][0]']

 add_6 (Add)                 (None, 256)                  0         ['dense_21[0][0]',
                                                                     'dense_22[0][0]']

 dense_23 (Dense)            (None, 256)                  65536     ['add_6[0][0]']

==================================================================================================
Total params: 2406400 (9.18 MB)
Trainable params: 2406400 (9.18 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [54]:
# модель юзера
user_model().summary()

Model: "model_9"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_19 (InputLayer)       [(None, 19)]                 0         []

 dense_24 (Dense)            (None, 256)                  4864      ['input_19[0][0]']

 dense_26 (Dense)            (None, 256)                  65536     ['dense_24[0][0]']

 input_20 (InputLayer)       [(None, 6897)]               0         []

 add_7 (Add)                 (None, 256)                  0         ['dense_24[0][0]',
                                                                     'dense_26[0][0]']

 dense_25 (Dense)            (None, 256)                  1765632   ['input_20[0][0]']

 concatenate_3 (Concatenate  (None, 512)                  0         ['add_7[0][0]',
 )                                                                   'dense_25[0][0]']

 dense_27 (Dense)            (None, 256)                  131072    ['concatenate_3[0][0]']

==================================================================================================
Total params: 1967104 (7.50 MB)
Trainable params: 1967104 (7.50 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [55]:
# общая модель
model.summary()

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                Output Shape                 Param #   Connected to
==================================================================================================
 input_14 (InputLayer)       [(None, 19)]                 0         []

 input_15 (InputLayer)       [(None, 6897)]               0         []

 input_16 (InputLayer)       [(None, 8888)]               0         []

 input_17 (InputLayer)       [(None, 8888)]               0         []

 model_6 (Functional)        (None, 256)                  1967104   ['input_14[0][0]',
                                                                     'input_15[0][0]']

 model_5 (Functional)        (None, 256)                  2406400   ['input_16[0][0]',
                                                                     'input_17[0][0]']

 concat_ancor_pos_neg (Conc  (None, 768)                  0         ['model_6[0][0]',
 atenate)                                                            'model_5[0][0]',
                                                                     'model_5[1][0]']

==================================================================================================
Total params: 4373504 (16.68 MB)
Trainable params: 4373504 (16.68 MB)
Non-trainable params: 0 (0.00 Byte)
__________________________________________________________________________________________________

In [56]:
# начинаем обучение, не забывая дропнуть столбцы item_id и user_id 
# из датафреймов при инициализации генератора.

# batch_size можно (и лучше) поставить побольше, если вы не органичены в ресурсах

model.fit(generator(items=items_ohe_df.drop(["item_id"], axis=1), 
                    users=users_ohe_df.drop(["user_id"], axis=1), 
                    interactions=interactions_vec,
                    batch_size=128), 
          steps_per_epoch=100, 
          epochs=10, 
          initial_epoch=0,
          callbacks=[decay, t_board, check]
)

Epoch 1/30
100/100 [==============================] - 61s 603ms/step - loss: 0.0424 - lr: 0.0010
Epoch 2/30
100/100 [==============================] - 61s 613ms/step - loss: 0.0015 - lr: 0.0010
Epoch 3/30
100/100 [==============================] - 60s 610ms/step - loss: 0.0013 - lr: 0.0010
Epoch 4/30
100/100 [==============================] - 61s 616ms/step - loss: 0.0012 - lr: 0.0010
Epoch 5/30
100/100 [==============================] - 60s 609ms/step - loss: 0.0012 - lr: 0.0010
Epoch 6/30
100/100 [==============================] - 61s 613ms/step - loss: 0.0011 - lr: 0.0010
Epoch 7/30
100/100 [==============================] - ETA: 0s - loss: 0.0011
Epoch 7: ReduceLROnPlateau reducing learning rate to 0.000800000037997961.
100/100 [==============================] - 61s 612ms/step - loss: 0.0011 - lr: 0.0010
Epoch 8/30
100/100 [==============================] - 61s 618ms/step - loss: 0.0011 - lr: 8.0000e-04
Epoch 9/30
100/100 [==============================] - ETA: 0s - loss: 0.0011
Epoch 9: ReduceLROnPlateau reducing learning rate to 0.0006400000303983689.
100/100 [==============================] - 61s 617ms/step - loss: 0.0011 - lr: 8.0000e-04
Epoch 10/30
100/100 [==============================] - 60s 603ms/step - loss: 0.0011 - lr: 6.4000e-04
Epoch 11/30
100/100 [==============================] - 62s 623ms/step - loss: 0.0010 - lr: 6.4000e-04
Epoch 12/30
100/100 [==============================] - ETA: 0s - loss: 0.0010
Epoch 12: ReduceLROnPlateau reducing learning rate to 0.0005120000336319208.
100/100 [==============================] - 60s 602ms/step - loss: 0.0010 - lr: 6.4000e-04
Epoch 13/30
100/100 [==============================] - 61s 614ms/step - loss: 0.0010 - lr: 5.1200e-04
Epoch 14/30
100/100 [==============================] - ETA: 0s - loss: 0.0010
Epoch 14: ReduceLROnPlateau reducing learning rate to 0.00040960004553198815.
100/100 [==============================] - 61s 613ms/step - loss: 0.0010 - lr: 5.1200e-04
Epoch 15/30
100/100 [==============================] - 61s 620ms/step - loss: 9.9856e-04 - lr: 4.0960e-04
Epoch 16/30
100/100 [==============================] - ETA: 0s - loss: 9.8941e-04
Epoch 16: ReduceLROnPlateau reducing learning rate to 0.00032768002711236477.
100/100 [==============================] - 60s 606ms/step - loss: 9.8941e-04 - lr: 4.0960e-04
Epoch 17/30
100/100 [==============================] - 60s 602ms/step - loss: 9.8114e-04 - lr: 3.2768e-04
Epoch 18/30
100/100 [==============================] - ETA: 0s - loss: 9.7368e-04
Epoch 18: ReduceLROnPlateau reducing learning rate to 0.0002621440216898918.
100/100 [==============================] - 60s 606ms/step - loss: 9.7368e-04 - lr: 3.2768e-04
Epoch 19/30
100/100 [==============================] - 59s 594ms/step - loss: 9.6699e-04 - lr: 2.6214e-04
Epoch 20/30
100/100 [==============================] - 60s 603ms/step - loss: 9.6077e-04 - lr: 2.6214e-04
Epoch 21/30
100/100 [==============================] - 60s 602ms/step - loss: 9.5458e-04 - lr: 2.6214e-04
Epoch 22/30
100/100 [==============================] - ETA: 0s - loss: 9.4825e-04
Epoch 22: ReduceLROnPlateau reducing learning rate to 0.00020971521735191345.
100/100 [==============================] - 60s 605ms/step - loss: 9.4825e-04 - lr: 2.6214e-04
Epoch 23/30
100/100 [==============================] - 59s 597ms/step - loss: 9.4244e-04 - lr: 2.0972e-04
Epoch 24/30
100/100 [==============================] - ETA: 0s - loss: 9.3724e-04
Epoch 24: ReduceLROnPlateau reducing learning rate to 0.00016777217388153076.
100/100 [==============================] - 60s 609ms/step - loss: 9.3724e-04 - lr: 2.0972e-04
Epoch 25/30
100/100 [==============================] - 59s 595ms/step - loss: 9.5648e-04 - lr: 1.6777e-04
Epoch 26/30
100/100 [==============================] - ETA: 0s - loss: 9.3513e-04
Epoch 26: ReduceLROnPlateau reducing learning rate to 0.00013421773910522462.
100/100 [==============================] - 60s 608ms/step - loss: 9.3513e-04 - lr: 1.6777e-04
Epoch 27/30
100/100 [==============================] - 59s 598ms/step - loss: 9.3093e-04 - lr: 1.3422e-04
Epoch 28/30
100/100 [==============================] - ETA: 0s - loss: 9.2718e-04
Epoch 28: ReduceLROnPlateau reducing learning rate to 0.00010737419361248613.
100/100 [==============================] - 60s 604ms/step - loss: 9.2718e-04 - lr: 1.3422e-04
Epoch 29/30
100/100 [==============================] - 60s 601ms/step - loss: 9.2369e-04 - lr: 1.0737e-04
Epoch 30/30
100/100 [==============================] - ETA: 0s - loss: 9.2047e-04
Epoch 30: ReduceLROnPlateau reducing learning rate to 8.589935605414213e-05.
100/100 [==============================] - 59s 600ms/step - loss: 9.2047e-04 - lr: 1.0737e-04

In [57]:
# берем рандомного юзера
rand_uid = np.random.choice(list(users_ohe_df.index))

# получаем фичи юзера и вектор его просмотров айтемов
user_meta_feats = users_ohe_df.drop(["user_id"], axis=1).iloc[rand_uid]
user_interaction_vec = interactions_vec[rand_uid]

# берем рандомный айтем
rand_iid = np.random.choice(list(items_ohe_df.index))
# получаем фичи айтема
item_feats = items_ohe_df.drop(["item_id"], axis=1).iloc[rand_iid]

# получаем вектор юзера
user_vec = u2v.predict([np.array(user_meta_feats).reshape(1, -1), 
                        np.array(user_interaction_vec).reshape(1, -1)])

# и вектор айтема
item_vec = i2v.predict(np.array(item_feats).reshape(1, -1))

# считаем расстояние между вектором юзера и вектором айтема
from sklearn.metrics.pairwise import euclidean_distances as ED

ED(user_vec, item_vec)

1/1 [==============================] - 0s 29ms/step
1/1 [==============================] - 0s 23ms/step

array([[4.9091907]], dtype=float32)

In [58]:
# получаем фичи всех айтемов
items_feats = items_ohe_df.drop(["item_id"], axis=1).to_numpy()
# получаем векторы всех айтемов
items_vecs = i2v.predict(items_feats)

# считаем расстояния
dists = ED(user_vec, items_vecs)

216/216 [==============================] - 0s 534us/step

In [59]:
items_vecs.shape

(6897, 256)

In [60]:
users_meta_feats = users_ohe_df.drop(["user_id"], axis=1)
users_interaction_vec = interactions_vec

In [61]:
users_meta_feats.shape

(65974, 19)

In [62]:
users_interaction_vec.shape

(65974, 6897)

In [63]:
np.array(users_meta_feats).shape

(65974, 19)

In [64]:
users_vec = u2v.predict([np.array(users_meta_feats), 
                        np.array(users_interaction_vec)])

2062/2062 [==============================] - 1s 497us/step

In [81]:
users_vec.shape, items_vecs.shape

((65974, 256), (6897, 256))

In [82]:
def augment_inner_product(factors):
    normed_factors = np.linalg.norm(factors, axis=1)
    max_norm = normed_factors.max()
    
    extra_dim = np.sqrt(max_norm ** 2 - normed_factors ** 2).reshape(-1, 1)
    augmented_factors = np.append(factors, extra_dim, axis=1)
    return max_norm, augmented_factors

max_norm, augmented_item_embeddings = augment_inner_product(items_vecs)
augmented_item_embeddings.shape

(6897, 257)

In [83]:
extra_zero = np.zeros((users_vec.shape[0], 1))
augmented_user_embeddings = np.append(users_vec, extra_zero, axis=1)
augmented_user_embeddings.shape

(65974, 257)

In [84]:
# Set index parameters
# These are the most important ones
M = 48
efC = 100
# Number of neighbors 
K=10
# Space name should correspond to the space name 
# used for brute-force search
space_name='negdotprod'

num_threads = 4
index_time_params = {'M': M, 'indexThreadQty': num_threads, 'efConstruction': efC, 'post' : 0}
print('Index-time parameters', index_time_params)

Index-time parameters {'M': 48, 'indexThreadQty': 4, 'efConstruction': 100, 'post': 0}

In [86]:
import nmslib
# Intitialize the library, specify the space, the type of the vector and add data points 
index = nmslib.init(method='hnsw', space=space_name, data_type=nmslib.DataType.DENSE_VECTOR) 
index.addDataPointBatch(augmented_item_embeddings)

6897

In [87]:
# Create an index
index_time_params = {'M': M, 'indexThreadQty': num_threads, 'efConstruction': efC}
index.createIndex(index_time_params)
print('Index-time parameters', index_time_params)

Index-time parameters {'M': 48, 'indexThreadQty': 4, 'efConstruction': 100}

In [88]:
# Setting query-time parameters
efS = 100
query_time_params = {'efSearch': efS}
print('Setting query-time parameters', query_time_params)
index.setQueryTimeParams(query_time_params)

Setting query-time parameters {'efSearch': 100}

In [89]:
query_matrix = augmented_user_embeddings[:1000, :]
import time
# Querying
query_qty = query_matrix.shape[0]
start = time.time() 
nbrs = index.knnQueryBatch(query_matrix, k = K, num_threads = num_threads)
end = time.time() 
print('kNN time total=%f (sec), per query=%f (sec), per query adjusted for thread number=%f (sec)' % 
      (end-start, float(end-start)/query_qty, num_threads*float(end-start)/query_qty))

kNN time total=0.005240 (sec), per query=0.000005 (sec), per query adjusted for thread number=0.000021 (sec)

In [91]:
index.saveIndex("dssm_256", save_data=True)

In [92]:
import pickle

with open("dssm_int_u_id2vec.pkl", "wb") as f:
    pickle.dump(augmented_user_embeddings, f)

In [ ]:
with open("dssm_ext_u_id2int_u_id.pkl", "wb") as f:
    pickle.dump(user_id_to_uid, f)

with open("dssm_int_i_id2ext_i_id.pkl", "wb") as f:
    pickle.dump(iid_to_item_id, f)

In [65]:
dists = ED(users_vec, items_vecs)

In [66]:
top10_iids = np.argsort(dists, axis=1)[:,:10]

In [67]:
top10_iids.reshape(dists.shape[0], 10).shape

(65974, 10)

In [68]:
top10_iids

array([[3750, 3272, 1750, ..., 6829, 1043,  486],
       [3750, 1750, 3272, ..., 1780, 6829, 6863],
       [3750, 1750, 3272, ...,  486, 6045, 4783],
       ...,
       [3750, 1750, 3272, ..., 1780, 6863, 6829],
       [3750, 1750, 3272, ..., 1579, 6863, 1780],
       [3750, 1750, 3272, ..., 6829, 1780, 1579]])

In [69]:
top10_iids_item = [iid_to_item_id[iid] for iid in top10_iids.reshape(-1)]

In [70]:
top10_iids_item = np.array(top10_iids_item).reshape(top10_iids.shape)

In [71]:
df_dssm = pd.DataFrame(columns = ['user_id', 'item_id'])

In [72]:
df_dssm = pd.DataFrame({'user_id': [uid_to_user_id[uid] for uid in np.arange(top10_iids_item.shape[0])]})

In [73]:
df_dssm['item_id'] = list(top10_iids_item)

In [74]:
df_dssm = df_dssm.explode('item_id')
df_dssm['rank'] = df_dssm.groupby('user_id').cumcount() + 1
df_dssm = df_dssm.groupby('user_id').agg({'item_id': list}).reset_index()
df_dssm.head()

   user_id                                            item_id
0        2  [9049, 7916, 4224, 5413, 14466, 16444, 4291, 1...
1       21  [9049, 4224, 7916, 5413, 14466, 2591, 1200, 42...
2       53  [9049, 4224, 7916, 16444, 5413, 3836, 2591, 12...
3       60  [9049, 7916, 4224, 5413, 16444, 14466, 3836, 4...
4       81  [9049, 4224, 7916, 2591, 1200, 14466, 5413, 42...